<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hunger App</title>
  <link href="main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="navbar">
      <a href="/" class="brand">Hunger App</a>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/chandra-arifin-dev/" target="_blank">About Us</a></li>
      </ul>
      <div class="hamburger" onclick="toggleMenu()">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </header>      
    
  <div class="hero"></div>
      <div class="hero__inner">
        <h1 class="hero__title">Restaurant Apps</h1>
        <p class="hero__tagline">
          This Restaurant Apps contains alot of recommendation to more places that provides more foods and beverages.
        </p>
      </div>
    </div>

  <main id="maincontent">
    <section>
        <h1 class="explore">Explore Restaurant</h1>
        
        <div class="posts">

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/41"
              alt="Gambar Meja Makan"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.6
              </p>
              <h1 class="post-item__name">
                <a href="#">Bring Your Phone Cafe</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
              <p class="post-item__city"></p>
                City: Medan
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/07"
              alt="Restoran dengan Banyak Pengunjung"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.6
              </p>
              <h1 class="post-item__name">
                <a href="#">Run The Gun</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
              <p class="post-item__city"></p>
                City: Bali
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/29"
              alt="Pangsit Express"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.8
              </p>
              <h1 class="post-item__name">
                <a href="#">Pangsit Express</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                atque autem culpa laborum odio similique voluptas. A ab animi ducimus
                earum explicabo hic molestias repudiandae sunt. Consectetur consequuntur
                dolorum excepturi, fugit, minus nemo non quae quaerat quod recusandae
                reprehenderit totam, unde. Aliquid autem doloremque impedit quod tempora
                tenetur totam vero.
              </p>
              <p class="post-item__city"></p>
                City: Ternate
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/38"
              alt="Ducky Duck"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.7
              </p>
              <h1 class="post-item__name">
                <a href="#">Ducky Duck</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
              </p>
              <p class="post-item__city"></p>
                City: Malang
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/40"
              alt="Kafein"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 3.8
              </p>
              <h1 class="post-item__name">
                <a href="#">Kafein</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
              </p>
              <p class="post-item__city"></p>
                City: Bali
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/08"
              alt="Makan mudah"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.6
              </p>
              <h1 class="post-item__name">
                <a href="#">Makan mudah</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
              </p>
              <p class="post-item__city"></p>
                City: Malang
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/08"
              alt="Saya Suka"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 3.6
              </p>
              <h1 class="post-item__name">
                <a href="#">Saya Suka</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
              </p>
              <p class="post-item__city"></p>
                City: Surabaya
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/45"
              alt="Gigitan Cepat"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 4.0
              </p>
              <h1 class="post-item__name">
                <a href="#">Gigitan Cepat</a>
              </h1>
              <p class="post-item__description">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
              </p>
              <p class="post-item__city"></p>
                City: Aceh
              </p>
            </div>
          </article>

          <article class="post-item">
            <img
              class="post-item__thumbnail"
              src="https://restaurant-api.dicoding.dev/images/medium/04"
              alt="Fairy Cafe"
            />
            <div class="post-item__content">
              <p class="post-item__rating">
                Rating: 3.9
              </p>
              <h1 class="post-item__name">
                <a href="#">Fairy Cafe</a>
              </h1>
              <p class="post-item__description">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
              </p>
              <p class="post-item__city"></p>
                City: Malang
              </p>
            </div>
          </article>

        </div>

    </section>
  </main>
  <footer>
    Copyright &copy; 2020 - Hunger App
  </footer>


  <script>
    function toggleMenu() {
      const menu = document.querySelector('.navbar ul');
      menu.style.display = menu.style.display === 'flex' ? 'none' : 'flex';
    }
  </script>
  
</body>
</html>