@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #5F30E2;
}

header {
    background: #4400ff;
    padding: 1px;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 1024px;
    border-radius: 8px;
    margin: 16px;
    border: 2px solid black;
    padding: 16px;
    flex-grow: 1;
    height: fit-content;
}


.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
    border: 1px solid #fa8585;
}

.item > .inner h2 {
    margin-bottom: unset;
}

.item > .inner p {
    margin-top: 5px;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group2 {
    display: flex;
    flex-direction: row;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: lighter;
}


.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

input[type=text] {
    font-family: Raleway, sans-serif;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 24px;
    padding: 10px;
}

.btn-submit {
    width: 100%;
    font-family: Raleway, sans-serif;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #5F30E2;
    color: black;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    background: #5F30E2;
    color: white;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.form-check {
    align-self: flex-start;
}

.sudahbaca-button {
    background-color: #559455;
    margin-left: 2rem;
    cursor: pointer;
    width: auto;
    height: 35px;
    font-weight: bold;
    color: whitesmoke;
}

.sudahbaca-button:hover {
    border-color: #4400ff;
    background-color: hwb(162 14% 16%);
    color: black;
}

.hapusbuku-button {
    background-color: red;
    margin-left: 0.2rem;
    cursor: pointer;
    width: auto;
    height: 35px;
    font-weight: bold;
    color: whitesmoke;
}

.hapusbuku-button:hover {
    border-color: #4400ff;
    background-color: #ffafaf;
    color: black;
}


.blmbaca-button {
    background-color: hwb(228 22% 5%);
    margin-left: 2rem;
    cursor: pointer;
    width: auto;
    height: 35px;
    font-weight: bold;
    color: whitesmoke;
}

.blmbaca-button:hover {
    border-color: #4400ff;
    background-color: rgb(169, 173, 240);
    color: black;
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }

    .wrapper .container {
        width: 100%;
    }

    .list-item {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}